In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
df_eeo = pd.read_csv(r"C:/Users/gghus/Downloads/DTSC Project/EEO-4_Reports_20250417.csv")
df_eeo

,Func Code,Function Description,Employment Status,Job Category,Line No,Salary Band,Hispanic/Latino Male,Hispanci/Latino Female,"Non Hispanic/Latino - Male, White","NonHispanic/Latino - Male, Black",...,"NonHispanic/Latino - Male, Amer Ind","NonHispanic/Latino - Male, 2+ Races","Non Hispanic/Latino - Female, White","NonHispanic/Latino - Female, Black","NonHispanic/Latino - Female, Asian","NonHispanic/Latino - Female, NHOPI","NonHispanic/Latino - Female, Amer Ind","NonHispanic/Latino - Female, 2+ Races",Total,FY
0,1,FINANCIAL ADMINISTRATION AND GENERAL CONTROL,1. FULL-TIME EMPLOYEES,OFFICIAL/ADM,6,43.0-54.9,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2,2021
1,1,FINANCIAL ADMINISTRATION AND GENERAL CONTROL,1. FULL-TIME EMPLOYEES,OFFICIAL/ADM,7,55.0-69.9,15.0,19.0,26.0,15.0,...,NaN,1.0,NaN,43.0,24.0,NaN,1.0,2.0,159,2021
2,1,FINANCIAL ADMINISTRATION AND GENERAL CONTROL,1. FULL-TIME EMPLOYEES,OFFICIAL/ADM,8,70.0 PLUS,260.0,311.0,1451.0,247.0,...,1.0,23.0,NaN,1225.0,410.0,2.0,3.0,37.0,4690,2021
3,1,FINANCIAL ADMINISTRATION AND GENERAL CONTROL,1. FULL-TIME EMPLOYEES,PROFESSIONALS,13,33.0-42.9,4.0,4.0,2.0,NaN,...,NaN,NaN,NaN,1.0,3.0,NaN,NaN,NaN,18,2021
4,1,FINANCIAL ADMINISTRATION AND GENERAL CONTROL,1. FULL-TIME EMPLOYEES,PROFESSIONALS,14,43.0-54.9,26.0,16.0,49.0,43.0,...,1.0,5.0,NaN,30.0,39.0,NaN,NaN,6.0,313,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1500,15,OTHER,NEW HIRES DURING EEO-4 FISCAL YEAR,TECHNICIANS,77,NaN,1.0,2.0,4.0,7.0,...,NaN,NaN,1.0,5.0,1.0,NaN,NaN,3.0,24,2023
1501,15,OTHER,NEW HIRES DURING EEO-4 FISCAL YEAR,PROTECTIVE SERVICE,78,NaN,NaN,3.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2023
1502,15,OTHER,NEW HIRES DURING EEO-4 FISCAL YEAR,PARAPROFESSIONALS,79,NaN,34.0,41.0,30.0,28.0,...,NaN,4.0,33.0,38.0,17.0,NaN,NaN,9.0,252,2023
1503,15,OTHER,NEW HIRES DURING EEO-4 FISCAL YEAR,ADMINISTRATIVE SUPPORT,80,NaN,NaN,1.0,NaN,2.0,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,5,2023
1504,15,OTHER,NEW HIRES DURING EEO-4 FISCAL YEAR,SKILLED CRAFT,81,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2023